<!--
  Generated template for the SignPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="nav">
  <ion-navbar color='primary'>
    <button ion-button icon-only clear>
      <ion-icon name="close" color='white'></ion-icon>
    </button>
    <ion-title>Đăng nhập/Đăng ký</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="type">
      <ion-segment-button value="signin">
        Đăng nhập
      </ion-segment-button>
      <ion-segment-button value="signup">
        Đăng ký
      </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
  
  <page-login *ngIf='type == "signin"'></page-login>
  <page-signup *ngIf='type == "signup"'></page-signup>
</ion-content>