<ion-header color="primary">

  <ion-toolbar color="primary">
    <ion-title>Trang chủ</ion-title>

    <!-- <button ion-button icon='menu' menuToggle></button> -->
    <button ion-button icon-start menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-searchbar (input)="getItems($event)"></ion-searchbar> -->
    <ion-buttons start>
      <button ion-button icon-only (click) = 'gotoSearch()'>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only padding (click)='gotoCart()'>
        <ion-icon name="cart"></ion-icon>
        <ion-badge item-end round>1</ion-badge>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button value="main">
      Sản phẩm
    </ion-segment-button>
    <ion-segment-button value="new">
      Hàng mới về
    </ion-segment-button>
    <ion-segment-button value="sale">
      Giảm giá
    </ion-segment-button>
    <ion-segment-button value="promotion">
      Khuyến mại
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-item-divider color='light' style="border-bottom: 0px">
    Danh mục sản phẩm
  </ion-item-divider>
  <!-- <div *ngFor='let category of categories' (click)='gotoCategory()'>
    <img src="{{ category.image }}" alt="anh_danh_muc">
    <span>{{ category.content }}</span>
  </div> -->
  <ion-slides pager slidesPerView='3' pager='false' style="max-height: 180px;border:1px groove #fefefe">
    <ion-slide *ngFor='let category of categories' (click)='gotoCategory()' style="padding: 10px 5px 10px 5px;border-right: 1px groove #fefefe;">
      <img src="{{ category.image }}" alt="anh_danh_muc">
      <span>{{ category.content }}</span>
    </ion-slide>
  </ion-slides>
  <!-- <ion-item [ngClass]="['category']">
    <ion-label>Danh mục sản phẩm</ion-label>
    <ion-select  interface="popover" (ionChange)='gotoCategory($event)' [(ngModel)]='category'>
      <ion-option value="1"  checked="false">Bóng đèn</ion-option>
      <ion-option value="2" checked="false">Ổ cắm</ion-option>
      <ion-option value="3" checked="false">Dây điện</ion-option>
      <ion-option value="4" checked="false">Công tắc</ion-option>
      <ion-option value="5" checked="false">Đèn led</ion-option>
    </ion-select>
  </ion-item> -->
  <div [ngSwitch]="tab">
    <ion-list *ngSwitchCase="'main'">
      <ion-item-divider color="light">
        Sản phẩm nổi bật
        <button ion-button clear item-end (click)='gotoCategory()'>Xem thêm</button>
      </ion-item-divider>
      <ion-item class="wrap_item_home">
        <ion-slides pager slidesPerView='3' pager='false'>
          <ion-slide *ngFor='let img of data.images' (click)='onItemClick()' style="padding: 10px 5px 10px 5px">
            <div [ngClass]="['item_home']">
              <img src='{{img}}'>
              <div class="wrap_info">
                <p>Aptomat đơn</p>
                <span [ngClass]="['price_text']">35.000 vnđ</span>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-item>
      <ion-item-divider color="light">
        Có thể bạn quan tâm
        <button ion-button clear item-end (click)='gotoCategory()'>Xem thêm</button>
      </ion-item-divider>
      <ion-item class="wrap_item_home">
        <ion-slides pager slidesPerView='3' pager='false'>
          <ion-slide *ngFor='let img of data.images' (click)='onItemClick()' style="padding: 10px 5px 10px 5px">
            <div [ngClass]="['item_home']">
              <img src='{{img}}'>
              <div class="wrap_info">
                <p>Aptomat đơn</p>
                <span [ngClass]="['price_text']">35.000 vnđ</span>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-item>
      <ion-item-divider color="light">
        Đang giảm giá
        <button ion-button clear item-end (click)='gotoCategory()'>Xem thêm</button>
      </ion-item-divider>
      <ion-item class="wrap_item_home">
        <ion-slides pager slidesPerView='3' pager='false'>
          <ion-slide *ngFor='let img of data.images' (click)='onItemClick()' style="padding: 10px 5px 10px 5px">
            <div [ngClass]="['item_home']">
              <img src='{{img}}'>
              <div class="wrap_info">
                <p>Aptomat đơn</p>
                <span [ngClass]="['price_text']">35.000 vnđ</span>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-item>
      <ion-item-divider color="light">
        Khuyến mại
        <button ion-button clear item-end (click)='gotoCategory()'>Xem thêm</button>
      </ion-item-divider>
      <ion-item class="wrap_item_home">
        <ion-slides pager slidesPerView='3' pager='false'>
          <ion-slide *ngFor='let img of data.images' (click)='onItemClick()' style="padding: 10px 5px 10px 5px">
            <div [ngClass]="['item_home']">
              <img src='{{img}}'>
              <div class="wrap_info">
                <p>Aptomat đơn</p>
                <span [ngClass]="['price_text']">35.000 vnđ</span>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-item>
    </ion-list>
    <div *ngSwitchCase="'categories'">
      <ion-card *ngFor='let item of categories' class='card' (click)='onCardClick(item)'>
        <img src="{{item.image}}" />
        <p class="card-title">{{item.content}}</p>
      </ion-card>
    </div>
  </div>

</ion-content>
<!-- <ion-footer>
  <button ion-button icon-left>
    <ion-icon name="home"></ion-icon>
    Nhóm sản phẩm
  </button>
  <button ion-button icon-left>
    <ion-icon name="home"></ion-icon>
    Hàng đang giảm giá
  </button>
  <button ion-button icon-left>
    <ion-icon name="home"></ion-icon>
    Hàng mới về
  </button>
  <button ion-button icon-left>
    <ion-icon name="home"></ion-icon>
    Hàng khuyến mại
  </button>
</ion-footer> -->
<ion-menu [content]="content">
  <!-- <ion-header>
    <ion-toolbar color='primary'>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content class="content_menu">
    <!-- <p style="padding:10px;align-self: center;font-size: 25px;width:100%;text-align: center">Menu</p> -->
    <div class='head_menu'>
      <img src="https://www.universetoday.com/wp-content/uploads/2014/09/sun1.jpg" alt="anh dai dien">
      <div style="vertical-align: middle;margin-top: 30px;text-align: center">
        <!-- <button ion-button clear style="color:white"class="">
          Nguyen Manh Hung
        </button> -->
        <p (click)='gotoUserInfo()' style="font-size: 17px" menuClose>Nguyen Manh Hung</p>
        <p style="font-style: italic">Khách lẻ</p>
      </div>
    </div>
    <div class="block_item">
      <ion-list>
        <button ion-item icon-left menuClose class="menu_item">
          <ion-icon name="ios-home-outline"></ion-icon>
          Trang chủ
        </button>
        <button ion-item icon-left menuClose class="menu_item">
          <ion-icon name="ios-contact-outline"></ion-icon>
          Quản lý tài khoản
        </button>
        <button ion-item icon-left menuClose class="menu_item" (click)="gotoListOrder()">
          <ion-icon name="ios-archive-outline"></ion-icon>
          Đơn hàng của tôi
        </button>
        <button ion-item icon-left menuClose class="menu_item">
          <ion-icon name="ios-notifications-outline"></ion-icon>
          Thông báo
          <ion-badge color='danger' style="position: inherit;">123</ion-badge>
        </button>
        <button ion-item icon-left menuClose class="menu_item">
          <ion-icon name="ios-paper-outline"></ion-icon>
          Tin tức
        </button>
        <button ion-item icon-left menuClose class="menu_item" (click)="exit()">
          <ion-icon name="ios-redo-outline"></ion-icon>
          Đăng xuất
        </button>
        <!-- <button ion-item (click)="gotoListOrder()" class="menu_item" menuClose>
          <ion-icon name="list"></ion-icon>
          Danh sách đơn hàng
        </button> -->
        <!-- <button ion-item (click)="gotoMap()" class="menu_item" menuClose>
          <ion-icon name="map"></ion-icon>
          Bản đồ
        </button> -->
        <!-- <button ion-item (click)="gotoNews()" class="menu_item" menuClose>
          <ion-icon name="map"></ion-icon>
          Tin tức
        </button> -->
        <!-- <button ion-item (click)="exit()" class="menu_item" menuClose>
          <ion-icon name="map"></ion-icon>
          Thoát ra
        </button> -->
      </ion-list>
    </div>
  </ion-content>

</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>